Source: fonts-jetbrains-mono-nerd
Priority: optional
Section: fonts
Maintainer: Dimitry Ishenko <dimitry.ishenko@gmail.com>
Build-Depends:
 debhelper-compat (= 13)
Standards-Version: 4.6.2
Rules-Requires-Root: no
Homepage: https://github.com/ryanoasis/nerd-fonts
Vcs-Git: https://github.com/dimitry-ishenko-ubuntu/fonts-jetbrains-mono-nerd.git
Vcs-Browser: https://github.com/dimitry-ishenko-ubuntu/fonts-jetbrains-mono-nerd

Package: fonts-jetbrains-mono-nerd
Architecture: all
Depends:
 fontconfig,
 ${misc:Depends}
Description: JetBrains Mono: a typeface made for developers
 This version of the JetBrains Mono font has been patched with the Nerd Fonts
 patcher.
 .
 Nerd Fonts patches developer targeted fonts with a high number of glyphs.
 Specifically to add a high number of extra glyphs from popular 'iconic fonts'
 such as Font Awesome, Devicons, Octicons, and others.
